In [39]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv('internships_internshala1.csv')

In [41]:
df.columns

Index(['job_title', 'company_name', 'location', 'salary', 'description',
       'company_description', 'hired_to_posted_ratio', 'has_company_logo',
       'job_description_length'],
      dtype='object')

In [47]:
df.head(866)

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,2.733870968,1,1
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,3,1,1
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,2.548387097,1,1
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0,1,1
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,3,1,1
...,...,...,...,...,...,...,...,...,...
862,Junior Software Tester,Bioroles Automation Systems Private Limited,Delhi,"₹ 2,00,000 - 2,80,000",Key responsibilities: 1. Conduct software and...,1,0,1,1
863,Software Developer,Misemind Technologies,Delhi,"₹ 2,00,000 - 2,14,000",Key responsibilities: 1. Work on full-stack d...,1,0,1,1
864,Software Engineer Trainee,Step Tech,Raipur,"₹ 2,00,000 - 3,00,000",Key responsibilities: 1. Understanding the bu...,1,0.636363636,1,1
865,Trainee Engineers – Software Development,Primesoft Inc,Chennai,"₹ 6,75,000",We are hiring for a client company (Roboteon) ...,1,5,1,1
866,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length

In [50]:
df['hired_to_posted_ratio']=pd.to_numeric(df['hired_to_posted_ratio'], downcast='float')

In [51]:
df.head()

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,2.733871,1,1
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,2.548387,1,1
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1

In [53]:
m=np.mean(df['hired_to_posted_ratio'])
print(m)

25.241083